<!--
Si la contraseña se cambió con éxito entonces
verán esta página
-->


{% extends 'repositorio/base.html' %}
{% block title %}Contraseña Actualizada{% endblock %}

{% block content %}
<div class="container mt-5 text-center" style="max-width: 500px;">
    <div class="alert alert-success shadow-sm">
        <h4>✅ Contraseña actualizada correctamente</h4>
        <p>Tu nueva contraseña se ha guardado con éxito.</p>

        <a href="
            {% if request.user.perfil.tipo == 'docente' %}
                {% url 'dashboard_docente' %}
            {% else %}
                {% url 'dashboard_estudiante' %}
            {% endif %}
        " class="btn btn-success mt-3">Volver al inicio</a>
    </div>
</div>
{% endblock %}
