<!--
Ya sea estudiante o docente, acá es donde el usuario debe cambiar la contraseña.
-->


{% extends 'repositorio/base.html' %}
{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 500px;">
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <h3 class="text-center mb-4">Cambiar contraseña</h3>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="d-flex justify-content-between mt-4">
                    <a href="
                        {% if request.user.perfil.tipo == 'docente' %}
                            {% url 'dashboard_docente' %}
                        {% else %}
                            {% url 'dashboard_estudiante' %}
                        {% endif %}
                    " class="btn btn-secondary">Volver</a>

                    <button type="submit" class="btn btn-success">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
